@model SmartOpsProject.Models.Service

@{
    ViewData["Title"] = "Λεπτομέρειες Υπηρεσίας";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Κωδικός</dt>
            <dd class="col-sm-9">@Model.ServiceCode</dd>

            <dt class="col-sm-3">Περιγραφή</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Μονάδα</dt>
            <dd class="col-sm-9">@Model.Unit</dd>

            <dt class="col-sm-3">ΦΠΑ</dt>
            <dd class="col-sm-9">@Model.VAT %</dd>

            <dt class="col-sm-3">Τιμή Λιανικής</dt>
            <dd class="col-sm-9">@Model.RetailPrice?.ToString("0.00")</dd>

            <dt class="col-sm-3">Τιμή Χονδρικής</dt>
            <dd class="col-sm-9">@Model.WholesalePrice?.ToString("0.00")</dd>
        </dl>
    </div>
</div>

  <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Επεξεργασία</a>
        <a asp-action="Index" class="btn btn-secondary">Πίσω στη λίστα</a>
