@model IEnumerable<SmartOpsProject.Models.Supplier>

@{
    ViewData["Title"] = "Προμηθευτές";
}
@if (TempData["SuccessMessage"] != null)
{
                    <div id="success-message" class="alert alert-success">
        @TempData["SuccessMessage"]
                    </div>
}

<h2>Προμηθευτές</h2>

<p>
    <a asp-action="Create" class="btn btn-success">+ Νέος Προμηθευτής</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Κωδικός</th>
            <th>Επωνυμία</th>
            <th>ΑΦΜ</th>
            <th>Χώρα</th>
            <th>Κατηγορία</th>
            <th>Καθεστώς ΦΠΑ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SupplierCode</td>
                <td>@item.Name</td>
                <td>@item.TaxIdentificationNumber</td>
                <td>@item.Country</td>
                <td>@item.SupplierCategory</td>
                <td>@item.VatStatus</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Επεξεργασία</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Λεπτομέρειες</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Διαγραφή</a>
                </td>
            </tr>
        }
    </tbody>
</table>
